html,
button,
input,
select,
textarea {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    /*font-family : "Arial", Helvetica, sans-serif;*/
}

body {
    color: #141412;
    background-color: #f7f5e7;
    line-height: 1.5;
    margin: 0;
}

a {
    color: #ca3c08;
    text-decoration: none;
}

a:visited {
    color: #ac0404;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    color: #ea9629;
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    /*font-family : Bitter, Georgia, serif;*/
    line-height: 1.3;
    font-weight: normal;
}

h1 {
    font-size: 36px;
    margin: 33px 0;
}

h2 {
    font-size: 28px;
    margin: 25px 0;
}

h3 {
    font-size: 24x;
    margin: 5px 0 10px 0;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    margin: 25px 0;
}

h5 {
    font-size: 18px;
    margin: 30px 0;
}

h6 {
    font-size: 16px;
    margin: 36px 0;
}

address {
    font-style: italic;
    margin: 0 0 24px;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

p {
    margin: 0 0 24px;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 14px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre {
    background: #f5f5f5;
    color: #666;
    font-family: monospace;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

blockquote {
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin: 24px 40px;
}

blockquote blockquote {
    margin-right: 0;
}

blockquote cite,
blockquote small {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

blockquote em,
blockquote i {
    font-style: normal;
    font-weight: 300;
}

blockquote strong,
blockquote b {
    font-weight: 400;
}

small {
    font-size: smaller;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

dl {
    margin: 0 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 20px;
}

menu,
ol,
ul {
    margin: 16px 0;
    padding: 0 0 0 40px;
}

ul {
    list-style-type: square;
}

nav ul,
nav ol {
    list-style: none none;
}

li > ul,
li > ol {
    margin: 0;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}

button,
input {
    line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    padding-right: 2px; /* Don't cut off the webkit search cancel button */
    width: 270px;
}

/*noinspection ALL*/
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-bottom: 1px solid #ededed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    line-height: 2;
    margin: 0 0 20px;
    width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

caption {
    font-size: 16px;
    margin: 20px 0;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
}

del {
    color: #333;
}

ins {
    background: #fff9c0;
    text-decoration: none;
}

/*noinspection ALL*/
hr {
    background: url('/bundles/mapinsightv2/images/dotted-line.png') repeat center top;
    background-size: 4px 4px;
    border: 0;
    height: 1px;
    margin: 0 0 24px;
}

/* Clearing floats */
.clear:after,
.site-footer .widget-area:after,
.entry-content:after,
.page-content:after,
.navigation:after,
.nav-links:after {
    clear: both;
}

.clear:before,
.clear:after,
.site-footer .widget-area:before,
.site-footer .widget-area:after,
.entry-content:before,
.entry-content:after,
.page-content:before,
.page-content:after,
.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after {
    content: "";
    display: table;
}

/* Form fields, general styles first.
button,
input,
textarea {
	border: 2px solid #d4d0ba;
	font-family: inherit;
	padding: 5px;
}
*/
input,
textarea {
    color: #141412;
}

input:focus,
textarea:focus {
    border: 2px solid #c3c0ab;
    outline: 0;
}

/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    background: #e05d22; /* Old browsers */
    background: -webkit-linear-gradient(top, #e05d22 0%, #d94412 100%); /* Chrome 10+, Safari 5.1+ */
    background: linear-gradient(to bottom, #e05d22 0%, #d94412 100%); /* W3C */
    border: none;
    border-bottom: 2px solid #b93207;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 8px 24px 6px;
    text-decoration: none;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
    background: #ed6a31; /* Old browsers */
    background: -webkit-linear-gradient(top, #ed6a31 0%, #e55627 100%); /* Chrome 10+, Safari 5.1+ */
    background: linear-gradient(to bottom, #ed6a31 0%, #e55627 100%); /* W3C */
    outline: none;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
    background: #d94412; /* Old browsers */
    background: -webkit-linear-gradient(top, #d94412 0%, #e05d22 100%); /* Chrome 10+, Safari 5.1+ */
    background: linear-gradient(to bottom, #d94412 0%, #e05d22 100%); /* W3C */
    border: none;
    border-top: 2px solid #b93207;
    padding: 6px 24px 8px;
}

/* Images */
.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignleft {
    margin: 5px 20px 5px 0;
}

img.alignright {
    margin: 5px 0 5px 20px;
}

img.aligncenter {
    margin: 5px auto;
}

img.alignnone {
    margin: 5px 0;
}

/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */

.site {
    background-color: #fff;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.site-main {
    position: relative;
}

.site-main .sidebar-container {
    height: 0;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 1;
}

.site-main .sidebar-inner {
    margin: 0 auto;
    max-width: 1040px;
}

/**
 * 4.1 Site Header
 * ----------------------------------------------------------------------------
 */

.site-header {
    position: relative;
}

.site-header .home-link {
    color: #141412;
    display: block;
    margin: 0 auto;
    max-width: 1080px;
    min-height: 230px;
    padding: 0 20px;
    text-decoration: none;
    width: 100%;
}

.site-header .site-title:hover {
    text-decoration: underline;
}

.site-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 58px 0 10px;
}

.site-description {
    font: 300 italic 24px "Source Sans Pro", Helvetica, sans-serif;
    margin: 0;
}

/**
 * 4.2 Navigation
 * ----------------------------------------------------------------------------
 */

.main-navigation {
    clear: both;
    margin: 0 auto;
    max-width: 1080px;
    min-height: 45px;
    position: relative;
}

ul.nav-menu,
div.nav-menu > ul {
    margin: 0;
    padding: 0 40px 0 0;
}

.nav-menu li {
    display: inline-block;
    position: relative;
}

.nav-menu li a {
    color: #141412;
    display: block;
    font-size: 15px;
    line-height: 1;
    padding: 15px 20px;
    text-decoration: none;
}

.nav-menu li:hover > a,
.nav-menu li a:hover {
    background-color: #220e10;
    color: #fff;
}

.nav-menu .sub-menu,
.nav-menu .children {
    background-color: #220e10;
    border: 2px solid #f7f5e7;
    border-top: 0;
    display: none;
    padding: 0;
    position: absolute;
    left: -2px;
    z-index: 99999;
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
    border-left: 0;
    left: 100%;
    top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
    color: #fff;
    margin: 0;
    width: 200px;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover {
    background-color: #db572f;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul {
    display: block;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
    color: #bc360a;
    font-style: italic;
}

.menu-toggle {
    display: none;
}

/* Navbar */
.navbar {
    background-color: #f7f5e7;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.site-header .search-form {
    position: absolute;
    right: 20px;
    top: 1px;
}

.site-header .search-field {
    /*noinspection CssUnknownTarget*/
    background: transparent url('/bundles/mapinsightv2/images/search-icon.png') no-repeat 5px center;
    background-size: 24px 24px;
    border: none;
    cursor: pointer;
    height: 37px;
    margin: 3px 0;
    padding: 0 0 0 34px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    width: 0;
}

.site-header .search-field:focus {
    background-color: #fff;
    border: 2px solid #c3c0ab;
    cursor: text;
    outline: 0;
    width: 230px;
}

/* Page links */
.page-links {
    clear: both;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 2.2;
    margin: 20px 0;
    text-transform: uppercase;
}

.page-links a,
.page-links > span {
    background: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    text-decoration: none;
}

/*extras for mapping  */

.footer-image-left {
    float: left;
    margin: -5px 0 0 10px;
    height: 12px;
}

.footer-image-right {
    float: right;
    margin: -13px 0 0 80px;
    height: 12px;
}

.footer-text-right {
    float: right;
    margin: -5px 10px 0 0;
    height: 12px;
}

#addressSearch {
    position: absolute;
    z-index: 20;
    display: none;
    right: 128px;
    top: 10px;
}

#latlng {
    padding: 12px 10px;
    display: inline-block;
}

#dateTo {
    text-align: center;
    display: inline-block;
    padding: 0 6px;
}

#welcome {
    position: absolute;
    z-index: 20;
    top: 10px;
    right: 200px;
}

#baricon,
#faves,
#useLocation,
#searchTool {
    position: absolute;
    z-index: 20;
    top: 10px;
    height: 25px;
    width: 25px;
    background-size: 100%;
}

#baricon {
    right: -80px;
    /*noinspection CssUnknownTarget*/
    background-image: url('/bundles/mapinsightv2/images/3bar.png');
}

#faves {
    right: -50px;
    /*noinspection CssUnknownTarget*/
    background-image: url('/bundles/mapinsightv2/images/star.png');
}

#useLocation {
    right: -20px;
}

#useLocation.active {
    /*noinspection CssUnknownTarget*/
    background-image: url('/bundles/mapinsightv2/images/location-on.png');
}

#useLocation.inactive {
    /*noinspection CssUnknownTarget*/
    background-image: url('/bundles/mapinsightv2/images/location-off.png');
}

#searchTool {
    right: 10px;
    /*noinspection CssUnknownTarget*/
    background-image: url('/bundles/mapinsightv2/images/searchtool.png');
}

.halfmap {
    width: 50%;
    height: 500px;
    display: inline-block;
}

.fullmap {
    width: 100%;
    height: 500px;
    display: inline-block;
}

#map-content {
    background : #ffffff;
}

#filterpanel,
#favelist {
    position: absolute;
    z-index: 10;
    top: 45px;
    height: auto;
    margin-bottom: 35px;
    width: 250px;
    right: 0;
    background-color: #FFFFFF;
    padding: 10px;
    overflow: auto;
}

#favelist {
    display: none;
}

div#favelist h5 {
    margin: 5px 0;
}

.filterform > label {
    min-width: 25%;
    float: left;
    clear: right;
}

.filterform > input {
    float: right;
    width: 70%;
}

.filterlabel {
    clear:left;
    float:left;
    display: inline-block;
    min-width: 25%;
}

.filterdropdown {
    width: 70%;
    float: right;
    margin-bottom: 5px;
}

.filternavline {
    float: right;
}

.filternav {
    display: inline-block;
}

#filtercount {
    font-size: 80%;
}

#filternext, #filterprevious {
    padding: 0 10px;
    background-color: lightgrey;
}

#filterpanel input[type="checkbox"], input[type="radio"] {
    margin-left: 10px;
    margin-right: 4px;
}

.filterline {
    padding: 2px 2px;
    display: block;
}

.routeline {
    display: none;
}

#drivegreen_panel {
    padding-top: 10px;
    padding-bottom: 10px;
}

#colwithpanel {
    margin-left: 40px;
    font-size: 90%;
    display: none;
}

#colwithfocus {
    display: none;
}

.popupmap {
    position: absolute;
    z-index: 20;
    min-width: 300px;
    /*noinspection CssUnknownTarget*/
    background-image: url('/bundles/mapinsightv2/images/FFFFFF-1.png');
    left: -10000px;
    top: 0;
    overflow: auto;
}

#unlocated {
    top: 95px;
    padding: 0 10px 0 10px;
    overflow: auto;

}

#incidentlist {
    height: auto;
    overflow: auto;
    clear: both;
}

.incidentitem {
    font-size: 80%;
    width: 100%;
    background-color: #f7f5e7;
    border: thin solid LightGray;
}

.incidentdetail {
    font-size: 70%;
    padding-bottom: 5px;
    display: none;
}

#locationsave {
    display: none;
}

#sv-popup {
    top: 45px;
}

#sv-popup.expanded {
    width: 90%;
}

#sv-popup.collapsed {
    width: 30%;
}

#popupmapclose {
    position: absolute;
    top: 5px;
    right: 2px;
    height: 22px;
    width: 25px;
    /*noinspection CssUnknownTarget*/
    background-image: url('/bundles/mapinsightv2/images/close.png');
}

#popupmapbig {
    position: absolute;
    top: 4px;
    right: 27px;
    height: 22px;
    width: 25px;

}

#popupmapbig.collapsed {
    /*noinspection CssUnknownTarget*/
    background-image: url('/bundles/mapinsightv2/images/right.png');
}

#popupmapbig.expanded {
    /*noinspection CssUnknownTarget*/
    background-image: url('/bundles/mapinsightv2/images/left.png');
}

#popupmapstar {
    position: absolute;
    top: 4px;
    right: 54px;
    height: 22px;
    width: 25px;

}

#popupmapstar.starred {
    /*noinspection CssUnknownTarget*/
    background-image: url('/bundles/mapinsightv2/images/star2.png');
}

#popupmapstar.unstarred {
    /*noinspection CssUnknownTarget*/
    background-image: url('/bundles/mapinsightv2/images/star1.png');
}

#popupfave {
    display: none;
    font-size: 80%;
    padding-top: 5px;
}

#popuptitle,
#popupcontent,
#popup-canvas,
#editcontent,
#popupfave {
    margin: 2px 10px 2px 10px;
}

#popuptitle {
    font-size: 100%;
}

#popupcontent {
    font-size: 80%;
}

#popup-canvas {
    height: 50%;
}

#editcontent {
    display: none;
}

.helpicon {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 3px;
}

.helpicon img {
    width: 100%;
    height: auto;
}

.dialog {
    display: none;
}

#relocate {
    display: inline;
    font-size: 80%;
    padding-left: 10px;
}

#message {
    padding: 25px;
}

.disabled {
    color: #999999;
}

#incidentcount {
    padding: 5px 0;
    font-size: 90%;
    float: right;
}

#count {
    display: inline-block;
}

#prev, #next {
    display: inline-block;
    color: #bc360a;
    padding-left: 15px;
    text-decoration: underline;
}

#primary-welcome {
    /*noinspection CssUnknownTarget*/
    background: #dedbc9 url('/bundles/mapinsightv2/images/noisebg.png') repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#primary-welcome img {
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}

#routecolourpicker {
    /*noinspection CssUnknownTarget*/
    background-image: url('js/jpicker/images/picker.gif');
}

#routedialogid, #routedialogpoly {
    display: none;
}

.routenav2 {
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 0 10px;
}

#navlist {
    position: relative;
    margin: 0 auto;
    display: inline;
}

#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

#navlist li, #navlist a {
    height: 22px;
    display: block;
}

#previousStop {
    left: -80px;
    width: 40px;
}

#previousStop {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/playpause45.png') 0 0;
}

#previousStop a:hover {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/playpause45.png') 0 -23px;
}

#previousPoint {
    left: -30px;
    width: 30px;
}

#previousPoint {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/playpause45.png') -48px 0;
}

#previousPoint a:hover {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/playpause45.png') -48px -23px;
}

#nextPoint {
    left: 20px;
    width: 30px;
}

#nextPoint {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/playpause45.png') -115px 0;
}

#nextPoint a:hover {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/playpause45.png') -115px -23px;
}

#nextStop {
    left: 60px;
    width: 40px;
}

#nextStop {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/playpause45.png') -155px 0;
}

#nextStop a:hover {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/playpause45.png') -155px -23px;
}

#play {
    left: 125px;
    width: 25px;
}

#play {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/playpause45.png') -86px 0;
}

#play a:hover {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/playpause45.png') -86px -23px;
}

#play.playing {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/playpause45.png') -240px 0;
}

#play.playing a:hover {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/playpause45.png') -240px -23px;
}

body.wait, body.wait * {
    cursor: wait !important;
}

#expandSV {
    float: right;
    width: 32px;
    height: 32px;
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/expandarrow32.png') -32px 0;
    z-index: 20;
    position: relative;
}

#expandSV.expanded {
    /*noinspection CssUnknownTarget*/
    background: url('/bundles/mapinsightv2/images/expandarrow32.png') 0 0;
}

/*  end extras   */

/**
 * 5.7 Post/Paging Navigation
 * ----------------------------------------------------------------------------
 */

.navigation .nav-previous {
    float: left;
}

.navigation .nav-next {
    float: right;
}

.navigation a {
    color: #bc360a;
}

.navigation a:hover {
    color: #ea9629;
    text-decoration: none;
}

.paging-navigation {
    background-color: #e8e5ce;
    padding: 40px 0;
}

.paging-navigation .nav-links {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
}

.sidebar .paging-navigation .nav-links {
    max-width: 1040px;
    padding: 0 376px 0 60px;
}

.paging-navigation .nav-next {
    padding: 13px 0;
}

.paging-navigation a {
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
}

.paging-navigation .meta-nav {
    background-color: #e63f2a;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 26px;
    padding: 3px 0 8px;
    text-align: center;
    width: 50px;
}

.paging-navigation .nav-previous .meta-nav {
    margin-right: 10px;
    padding: 17px 0 23px;
    width: 80px;
}

.paging-navigation .nav-next .meta-nav {
    margin-left: 10px;
}

.paging-navigation a:hover .meta-nav {
    background-color: #ea9629;
    text-decoration: none;
}

.post-navigation {
    background-color: #fff;
    color: #ca3c08;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    padding: 20px 0;
}

.post-navigation .nav-links {
    margin: 0 auto;
    max-width: 1040px;
}

.sidebar .post-navigation .nav-links {
    padding: 0 376px 0 60px;
}

.post-navigation a[rel="next"] {
    float: right;
    text-align: right;
}

/**
 * 7.0 Footer
 * ----------------------------------------------------------------------------
 */

.site-footer {
    background-color: #f7f5e7;
    color: #686758;
    font-size: 14px;
    text-align: center;
}

.site-footer .widget-area,
.sidebar .site-footer {
    text-align: left;
}

.site-footer a {
    color: #686758;
}

.site-footer .sidebar-container {
    background-color: #220e10;
    padding: 20px 0;
}

.site-footer .widget-area {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

.sidebar .site-footer .widget-area {
    max-width: 724px;
    position: relative;
    left: -158px;
}

.site-footer .widget {
    background: transparent;
    color: #fff;
    float: left;
    margin-right: 20px;
    width: 245px;
}

.sidebar .site-footer .widget {
    width: 228px;
}

.sidebar .site-footer .widget:nth-of-type(4),
.sidebar .site-footer .widget:nth-of-type(3) {
    margin-right: 0;
}

.site-footer .widget a {
    color: #e6402a;
}

.site-footer .widget-title,
.site-footer .widget-title a,
.site-footer .wp-caption-text {
    color: #fff;
}

.site-info {
    margin: 0 auto;
    max-width: 1040px;
    padding: 10px 0;
    width: 100%;
}

#filterpanel,  #locatedialog, #relocatedialog, #unlocated {
    /*font-size: 75%;*/
}
#latlng {
    /*font-size: 75%;*/
}

#locatemaps {
    width: 75%;
    float: right;
}

#locateselect {
    width: 25%;
    float: left;
}

/* this insures that modal dialogs will not have a stripe on the background overlay */
.ui-widget-overlay {
    background: #000;
}
